$OpenSans: 'Open Sans', sans-serif;
$Poppins: 'Poppins', sans-serif;
$AvenirNext: 'Avenir Next LT Pro', sans-serif;

$opacityHoverBtn: 0.8;
$defaultMaxWidthContainer: 1200px;

$white: #ffffff;
$grey: #666666;
$dark: #383838;
$yellow: #fde724;
$green: #008139;
